body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background: #f6f9ff;
}

.ratio-3x4 {
  aspect-ratio: 3/4;
}

.botoes-navegacao {
  margin-top: -20px;
}

.seleção-elementos {
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
}

a {
  color: inherit;          /* usa a mesma cor do texto ao redor */
  text-decoration: none;   /* remove o sublinhado */
  cursor: pointer;         /* mantém o cursor de link */
}
a:hover, a:focus {
  text-decoration: underline; /* opcional, reativa sublinhado no hover */
}